DB_DBMS=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=''
DB_DATABASE='erp-nest'
DB_SYNCHRONIZE=false

#DB_REGION #Only to be used in advanced case of aurora cloud setup
#DB_SECRET_ARN #Only to be used in advanced case of aurora cloud setup
#DB_RESOURCE_ARN #Only to be used in advanced case of aurora cloud setup

PORT=3000
ALLOWED_ORIGINS=http://localhost:3000

JWT_SECRET='GcpFfKWzIT/1xOdyM+lw67IDHZg0uCj6N/wataFB6xh1ydJlfe/+1543lStYZfU+hsbFQXKGq/QOTQ3s/urE4w=='
JWT_EXPIRES_IN=3600
ROOT_TENANT='f1c59dda-1957-42f3-b80a-0848dbc2050f'
SUPER_ADMIN_EMAIL='super-admin@eotcmk.org'
SUPER_ADMIN_PASSWORD='Pass123'

JWT_REFRESH_SECRET='NlQa0kRjtM01asv1IR/pOcnWY0Y9JtXsIuMYcwip/VE5bTz5UbxRiCFWZ/JB7O9HMUgZXYO2bnBVjnZ5WVkZ7Q==' #openssl rand -base64 64    
JWT_REFRESH_EXPIRATION_TIME='7d'

#"seed:create": "ts-node ./node_modules/typeorm-extension/bin/cli.cjs seed:create",